.rootGrid {
    background-color: #002b36;
    color: #93a1a1;
}

.passwordEntry {
    padding-bottom: 0.5rem;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    font-family: monospace;
}

.messageBox {
    background-color: #073642;
    border: 2px solid #268bd2;
    padding: 1rem;
}

.messageTitle {
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}